
body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: 0;              
  background-color: #f7f7f7;
  overflow: hidden;
}

.form-container {
  width: 100%;
  max-width: 800px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.login {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn-submit {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545;
  margin-bottom: 15px;
}
